@import '~@angular/material/prebuilt-themes/indigo-pink.css';
tr{  
    position: relative; /* you may put it out, maybe it will work without it */
    padding-bottom:20px;
    position: relative;
    color: black;
}

th{
    border-right-width:medium;
    border-right-color:white;
    border-right-style:groove;
    width: 15%;
  
  
}
.h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    
    text-align: center;
    position: relative;  
 
}
#border{
    
    border-radius: 25px;
    background: url("/assets/image/paper.jpeg");
    background-position: left top;
    background-repeat: repeat;
    padding-top: 20px; 
    padding-right:23px;
    width: 1350px;
    height: 500px;
   }